@font-face {
    font-family: "Mario";
    src: url("Mario-Kart-DS.ttf")
}

body {
    background-color: black;
}

canvas {
    background: black;
}

.gameover {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Mario";
    font-size: 10vw;
    z-index: 100;
    color: white;
    background-color: black;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    padding: 150px;
}

.gameover.visible {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Mario";
    font-size: 10vw;
    z-index: 100;
    color: white;
    background-color: black;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    padding: 150px;
}

.youwin {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Mario";
    font-size: 10vw;
    z-index: 100;
    color: white;
    background-color: black;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    padding: 150px;
}

.youwin.visible {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Mario";
    font-size: 10vw;
    z-index: 100;
    color: white;
    background-color: black;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    padding: 150px;
}